BUY_THRESHOLD="3"
CHECK_INTERVAL="600"
COINGECKO_GLOBAL_URL="https://api.coingecko.com/api/v3/global"
HEALTH_HOST="0.0.0.0"
SELL_THRESHOLD="3"
SYMBOL="ETHUSDT"
TELEGRAM_BOT_TOKEN="your_telegram_bot_token"
TELEGRAM_CHAT_ID="your_telegram_chat_id"
TF_1D="1d"
TF_1D_LIMIT="120"
TF_1H="1h"
TF_1H_LIMIT="200"
TF_4H="4h"
TF_4H_LIMIT="150"
USDT_DOMINANCE_CHECK_INTERVAL="600"
USDT_DOMINANCE_MAX="8.5"
USDT_DOMINANCE_MIN="8.4"
