BUY_THRESHOLD="3"
CHECK_INTERVAL="600"
HEALTH_HOST="0.0.0.0"
RESISTANCE_ZONES="1685,1715,1780"
SELL_THRESHOLD="3"
SUPPORT_ZONES="1620,1590,1550"
SYMBOL="ETHUSDT"
TELEGRAM_BOT_TOKEN="your_telegram_bot_token"
TELEGRAM_CHAT_ID="your_telegram_chat_id"
TF_1D="1d"
TF_1D_LIMIT="120"
TF_1H="1h"
TF_1H_LIMIT="200"
TF_4H="4h"
TF_4H_LIMIT="150"
